vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jun 2017 13:13:34 -0000
vti_author:SR|MELISSA\\melissa
vti_modifiedby:SR|TRON\\shali
vti_nexttolasttimemodified:TW|05 Jun 2017 13:11:49 -0000
vti_timecreated:TR|21 May 2017 18:42:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|booking-enquiries.html contact-us.html rates.html activities.html gallery.html facilities.html thank-you.html index.html accomodation.html
vti_syncwith_localhost\\c\:\\users\\melissa\\downloads\\2017 stuff\\web development\\namib guest house\\expressiveweb code library\\standard template framework/c\:/users/melissa/downloads/2017 stuff/web development/namib guest house/expressiveweb code library/standard template framework:TW|21 May 2017 18:42:35 -0000
vti_syncofs_localhost\\c\:\\users\\melissa\\downloads\\2017 stuff\\web development\\namib guest house\\expressiveweb code library\\standard template framework/c\:/users/melissa/downloads/2017 stuff/web development/namib guest house/expressiveweb code library/standard template framework:TX|10 Jan 2016 12:37:34 -0000
vti_cacheddtm:TX|05 Jun 2017 13:13:34 -0000
vti_filesize:IR|2995
vti_cachedlinkinfo:VX|S|../images/desert-sand-texture.jpg
vti_cachedsvcrellinks:VX|FSUS|images/desert-sand-texture.jpg
